@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,500;9..40,700&family=Lato:wght@300;400&family=Roboto+Mono:ital,wght@0,400;1,500&display=swap");
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", "Roboto Mono", "DM Sans", sans-serif, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container__gallery-page {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.container__image-gallery {
  height: 90vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
  overflow: auto;
}

.container__image-gallery--list {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 30px;
  gap: 30px;
  height: 70vh;
  overflow-y: auto;
}

.img__image-with-info {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.img__image-gallery {
  position: relative;
  width: 350px;
  height: auto;
  transition: transform 0.5s;
}

.img__image-gallery:hover {
  transform: scale(1.05);
  cursor: pointer;
}

@media screen and (max-width: 1500px) {
  .img__image-gallery {
    width: 180px;
  }
}

@media screen and (max-width: 900px) {
  .container__gallery-page {
    overflow: hidden;
  }
  .container__image-gallery {
    height: 80vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.1px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .img__image-gallery {
    position: relative;
    width: 270px;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .container__gallery-page {
    overflow: hidden;
  }
  .container__image-gallery {
    height: 80vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 130px);
    grid-gap: 0.1px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .img__image-gallery {
    position: relative;
    width: 120px;
    height: auto;
  }
}
